@import '~bootstrap/scss/bootstrap';
$font-color: $light;

.success {
  color: green;
}

.failure {
  color: red;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}
