@import '~bootstrap/scss/bootstrap';
$font-color: $light;

.success {
  color: green;
}

.failure {
  color: red;
}

body {
  margin: 30px;
}

// #signup {
//   display: none
// }

#changepw {
  display: none;
}

#signout {
  display: none;
}

#newgame {
  display: none;
}

#score-board {
  display: none;
}

#game-board {
  display: none;
}

#getgames {
  display: none;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}
